{% extends 'base.html' %}

{% block extra_css %}
<style>
    textarea {
        font-family:monospace;
    }
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <form>
            <fieldset disabled>
                <div class="form-group row">
                     <ul>
                         {% for item in data %}
                         <li>{{item.id}} {{item.name}} {{item.date}}</li>
                         {% endfor %}
                     </ul>
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}